
.tevas .paragrafas {
background: yellow;
}

.raudona {
  color: red;
}

.paragrafas {
 color: red;
 background: teal;
 width: 400px;
}
.paragrafas:hover {
background-color: salmon;
cursor: pointer;
  }
